<div class="container">
    <h3>Employee Details</h3>
    <div>
        <div class="table" style="width:500px">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Remove</th>
                        <th scope="col">Change</th>
                    </tr>  
                </thead>
                <tbody>
                    <!-- structural directive -->
                    <tr *ngFor="let employee of employees">
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}} </td>
                        <td>{{employee.salary | currency: 'USD'}} </td>
                        <td>
                            <button class="btn btn-outline-danger btn-sm" (click)="deleteEmployee(employee)">Delete</button>
                        </td>
                        <td>
                            <button class="btn btn-outline-dark btn-sm" (click)="updateEmployee(employee.id)">Update</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>